<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>{{ name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>

<h1>{{ name }}</h1>

<div class="container">
        <div id="main_area">
                <!-- Slider -->
                <div class="row">
                    <div class="col-xs-12" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-8" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items picture only -->
                                    <div class="carousel-inner">
                                        {% for object in objects %}
                                        <div class="active item" data-slide-number="{{ object.rank }}"> <!-- Note: Loic: look for generating the rank -->
                                            <CENTER><img src="{{ object.image_link }}" style="width:80%"></CENTER>
                                        </div>
                                        {% endfor %}

                                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4" id="carousel-text"></div>

                            <!-- side car text -->
                            <div id="slide-content" style="display: none;">
                                {% for object in objects %}
                                <div id="slide-content-{{ object.rank }}">
                                    <h1>{{ object.title }}</h1>
                                    {{ object.description }}
                                </div>

                                <div>
                                    <ul>
                                        {% for book in object.books %}
                                        <li>
                                            <a href="{{ book.rero_link }}">{{ book.title }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endfor %}
                            </div><!-- Carousel nav -->

                        </div>
                    </div>
                </div><!--/Slider-->

                <div class="row hidden-xs" id="slider-thumbs">
                        <!-- Bottom switcher of slider thumbs -->
                        <ul class="hide-bullets">
                            {% for object in objects %}
                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-{{ object.rank }}"><img src="{{ object.image_link }}"></a>
                            </li>
                            {% endfor %}
                        </ul>
                </div>
        </div>
</div>
<script type="text/javascript">
  jQuery(document).ready(function($) {

        $('#myCarousel').carousel({
                interval: 5000
        });

        $('#carousel-text').html($('#slide-content-0').html());

        //Handles the carousel thumbnails
       $('[id^=carousel-selector-]').click( function(){
            var id = this.id.substr(this.id.lastIndexOf("-") + 1);
            var id = parseInt(id);
            $('#myCarousel').carousel(id);
        });


        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid.bs.carousel', function (e) {
                 var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
});
</script>
</body>
</html>
